.columnform {
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.paramtitle {
  margin: 20px 30px;
}

@media (max-width: 767px) {
  .columnform {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .paramtitle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

}